         <div class="container">

                <div class="divider-custom">
                    <form>
                      <input type="text" name="search" placeholder="Enter Email OF User">
                    </form>
                </div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>

        <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>



        <tr>
            <th scope="row">id</th>

            <td>ggg</td>
            <td>fff</td>
            <td>fff</td>
            <td>fff</td>


            <td>
                <a href="edit">Edit</a><span>|</span>
                <a href="delete">Delete</a>
            </td>


        </tr>

  </tbody>
</table>

<a class="btn btn-primary" href="insert" role="button">Insert new user</a>


            </div>

