<div class="container" >

            <form class="col-md-offset-3  col-md-6" action="editShow" method="post">

                <div class="form-group">
                    <label for="icon" class="control-label">Icon</label>
                    <input type="text" class="form-control" id="icon" name="icon" placeholder="Icon">
                </div>


                <div class="form-group">
                    <label for="val" class="control-label">Value</label>
                    <textarea class="form-control" id="val" name="val" placeholder="Value"></textarea>
                </div>

                <button type="submit" class="btn btn-dark">Insert Contact</button>
            </form>
</div>